body{
  background-color: #f9f5e7;
  margin: 0;
  padding: 0;
}
.right-side .box #logo{
  width: 20%;
  background-color: red;
  display: block;
}
.right-side .img-div{
  display: none;
  align-items: center;
}
.right-side .box .top{
  padding: 5%;
}
.signin{
  width: 90%;
  height: fit-content;
}
.right-side .box .top h1,p{
  display: flex;
  color: #3D1D12;
  justify-content: flex-start;
}

.right-side .box{
  
  text-align: center;
}
.right-side{
  height: fit-content;
  width: 50%;
  background-color: #ffff;
}

/* #3D1D12 */
.left-side{
  width: 50%;
  display: flex;
}
.left-side .box #logo{
  width: 15%;
  display: block;
}
.left-side .box .top{
  padding: 3%;
}
.left-side .box .top h1,p{
  display: flex;
  color: #3D1D12;
  justify-content: flex-start;
}
.left-side .box #signin{
  width: 65%;
  height: fit-content;
  margin: auto;
}
.left-side .box{
  margin-left: 5%;
  text-align: center;
}
.main{
  height: 100vh;
  display: flex;
}



/* this is login form css */

.social-login img {
  width: 24px;
}
a {
  text-decoration: none;
}

.cardbox {
  font-family: sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 
 text-align: center;
  background-color: #ffff;
  padding: 1.8rem;
  
}
.language{
  text-align: right;
  font-size: 1rem;
  font-weight: 200;
}
#language{
  border: none;
  font-size: 1rem;
  font-weight: 200;
}
#language:focus{
  border: none;
  outline: none !important;
}

.title {
  text-align: center;
  font-weight: bold;
  
}
.subtitle {
  text-align: center;
  font-weight: bold;
  display: block;
}
.btn-text {
  margin: 0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.google-btn {
  background: #fff;
  border: solid 2px rgb(245 239 239);
  border-radius: 8px;
  margin: 15px;
  font-weight: bold;
  display: flex;
  padding: 10px 10px;
  flex: auto;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.fb-btn {
  background: #fff;
  border: solid 2px rgb(69, 69, 185);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.or {
  text-align: center;
  display: block;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 0.1em;
  margin: 25px 0;
}
.or span {
  background: #fff;
  padding: 0 10px;
}

.email-login {
  display: flex;
  flex-direction: column;
  position: relative;
}
.email-login label {
  color: rgb(170 166 166);
  text-align: left;

}

.cta-btn {
  background-color: #92CBCE;
  color: white;
  padding: 18px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.forget-pass {
  
 
  color: #3D1D12;
  width: fit-content;
  text-align: center;

}
.forget-pass:hover {
 
  color: #92CBCE;
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
:root{
/*===== Colores =====*/
--first-color: #1A73E8;
--input-color: #80868B;
--border-color: #DADCE0;

/*===== Fuente y tipografia =====*/
--body-font: 'Roboto', sans-serif;
--normal-font-size: 1rem;
--small-font-size: .75rem;
}


/*===== FORM =====*/
.l-form{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.form{
width: 360px;
padding: 4rem 2rem;
border-radius: 1rem;
box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.form__title{
font-weight: 400;
margin-bottom: 3rem;
}
.form__div{
position: relative;
height: 48px;
margin-bottom: 1.1rem;
}
.form__input{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
font-size: var(--normal-font-size);
border: none;
border-bottom: 1px solid var(--border-color);

outline: none;
padding: 1rem;
background: none;
z-index: 1;
}
.form__label{
position: absolute;
left: 1rem;
top: 1rem;
padding: 0 .25rem;
background-color: #fff;
color: var(--input-color);
font-size: var(--normal-font-size);
transition: .3s;
}
.form__button{
display: block;
margin-left: auto;
padding: .50rem 1.2rem;
outline: none;
border: none;
background-color: var(--first-color);
color: #fff;
font-size: var(--normal-font-size);
border-radius: .5rem;
cursor: pointer;
transition: .3s;
}
.form__button:hover{
box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label{
top: -.5rem;
left: .8rem;
color: var(--first-color);
font-size: var(--small-font-size);
font-weight: 500;
z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
top: -.5rem;
left: .8rem;
font-size: var(--small-font-size);
font-weight: 500;
z-index: 10;
}

/*Input focus*/
.form__input:focus{
border: 1.5px solid var(--first-color);
border-radius: 0.5rem;
}


/* this is for responsive page */

@media only screen and (max-width: 550px) {
  body{
      background-color: #fff;
  }
  
  .left-side{
      width: 100%;
      display: none;
  }
  .btn-text {
      margin: 0;
      font-size: .5rem;
  }
  .google-btn {
      padding: 10px;
      margin: 0;
  }
  .right-side{
      width: 100%;
  }
  .right-side .img-div{
      display: flex;
      justify-content: space-between;
  }
  .right-side .img-div img{
      width: 20%;
  }
  .main{
      display: inline;
  }
}